h1, span {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}
svg {
  display: block;
  margin: auto;
}
circle, path {
  cursor: pointer;
}
circle {
  fill: none;
  pointer-events: all;
}

.six.wide span {
  padding-left: 5px;
}
#budgetSW span:nth-child(2) {
  display: none;
}
#ctrlYear {
  /*border: 1px black solid;*/
}
#year {
  text-align: center;
}
#ctrlYear {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
#year {
  margin: 0px 10px;
}
#ctrlYear .ui.icon {
  padding: 5px;
}
