extends layout
block css
  link(rel='stylesheet', href='./styles/bubbletree.css')
block content

  .bubbletree-wrapper
    .bubbletree

block js
  script(type='text/javascript', src='./js/jquery.min.js')
  script(type='text/javascript', src='./js/jquery-migrate.min.js')
  script(type='text/javascript', src='./js/jquery.history.js')
  script(type='text/javascript', src='./js/jquery.tooltip.min.js')
  script(type='text/javascript', src='./js/raphael-min.js')
  script(type='text/javascript', src='./js/Tween.js')
  script(type='text/javascript', src='./js/bubbletree.js')
  script(type="text/javascript" src="./js/cofog.js")
  script(type="text/javascript", src="./js/budget2.js")
