extends layout
block css
  link(rel='stylesheet', href='./styles/bubbletree.css')
  link(rel='stylesheet', href='./styles/budget_view.css')
block link
  -var selected = 'budget_out'
block content
  .bubbletView
    .bubbletree-wrapper
      .bubbletree
    .detail-data
      h2#deptHeaderOut
        | 部門
      ul#budgetList
      h2#thisYearBudget
        | 本年度決算約
        span#amountOut
      h3#canBuyOut
      h2#lastYearBudget
        | 與預算差額
        span#lastAmount
        span#diffPercent
      .fb-comments(data-href='http://budget.sakamoto.com.tw', data-numposts='3', data-width="100%")

block js
  script(type='text/javascript', src='./js/jquery-migrate.min.js')
  script(type='text/javascript', src='./js/jquery.history.js')
  script(type='text/javascript', src='./js/jquery.tooltip.min.js')
  script(type='text/javascript', src='./js/raphael-min.js')
  script(type='text/javascript', src='./js/Tween.js')
  script(type='text/javascript', src='./js/bubbletree.js')
  script(type='text/javascript', src='./js/cofog.js')
  script(type='text/javascript', src='./js/semanticui-init.js')
  script(type='text/javascript', src='./js/budgetout-view.js')
