extends layout
block css
  link(rel='stylesheet', href='./styles/bubbletree.css')
  link(rel='stylesheet', href='./styles/budget_view.css')
  link(rel='stylesheet', href='./styles/about.css')

block content
  #fb-root
  .ui.container
    .ui.secondary.pointing.menu#budgetMenu
      a.active.item(data-tab='first')
        | 行星圖
      a.item(data-tab='second')
        | 科目預算表格
      a.right.ui.item(data-tab='third')
        | 關於此網頁
    .ui.active.tab#bubbletView(data-tab='first')
      .bubbletree-wrapper
        .bubbletree
      .detail-data
        h2#deptHeader
          | 部門
        h2#thisYearBudget
          | 本年度預算約
          span#amount
        h3#canBuy
        h2#lastYearBudget
          | 前年度預算約
          span#lastAmount
          span#diffPercent
        //- .ui.accordion#detail
        //-   .title
        //-     i.dropdown.icon
        //-     | 詳細資料
        //-   .content
        //-     .transition.hidden
        .fb-comments(data-href='http://budget.sakamoto.com.tw', data-numposts='3', data-width="100%")

    .ui.tab#budgetTable(data-tab='second')
      .ui.secondary.menu
        a.item.active(view-type='1') 總科目表
        a.item(view-type='2') 只看款
        a.item(view-type='3') 只看科
      .ui.action.input#searchInput
        input(type='text', placeholder='搜尋款科目名稱...')
        button.ui.button Search

      table.ui.unstackable.striped.table
        thead
          tr
        tbody
    .ui.tab#aboutWeb(data-tab='third')
      table
        tr
          td 使用套件
          td
            p Semantic UI
            p JQuery
            p
              a(href='http://underscorejs.org/', target='_blank') underscorejs
            p
              a(href='https://github.com/okfn/bubbletree', target='_blank') okfn/bubbletree

      table
        tr
          td Data Source
          td
            p
              a(href='https://drive.google.com/drive/folders/0B370vEVixLOxRUUzT205eWs0cTQ' target='_blank') 2016年中興大學學生會歲出預算excel
            p
              a(href='./data/budget.json', target='_blank') 2016年中興大學學生會歲出預算JSON
            //- p
            //-   a(href='#', target='_blank') 2016年中興大學學生會歲出預算CSV
      table
        tr
          td Data converter
          td
            p
              a(href='https://github.com/David-Tsui/Google_Spreadsheet_RESTful', target='_blank') David-Tsui/Google_Spreadsheet_RESTful
      table
        tr
          td Project GitHub
          td
            p
              a(href='https://github.com/jd615645/nchusg_budget' target='_blank') jd615645/nchusg_budget

block js
  script(type='text/javascript', src='./js/jquery-migrate.min.js')
  script(type='text/javascript', src='./js/jquery.history.js')
  script(type='text/javascript', src='./js/jquery.tooltip.min.js')
  script(type='text/javascript', src='./js/raphael-min.js')
  script(type='text/javascript', src='./js/Tween.js')
  script(type='text/javascript', src='./js/bubbletree.js')
  script(type='text/javascript', src='./js/cofog.js')
  script(type='text/javascript', src='./js/semanticui-init.js')
  script(type='text/javascript', src='./js/budget-view.js')
  script(type='text/javascript', src='./js/budget-table.js')
