extends layout
block css
  link(rel='stylesheet', href='./styles/bubbletree.css')
  link(rel='stylesheet', href='./styles/budget_view.css')
block content
  .bubbletree-wrapper
    .bubbletree
  .detail-data
    h1#deptHeader
      | 部門
    h1#thisYearBudget
      | 本年度預算：
      span#amount
    h1#lastYearBudget
      | 前年度預算：
      span#lastAmount
      span#diffPercent
    h1#canBuy
block js
  script(type='text/javascript', src='./js/jquery.min.js')
  script(type='text/javascript', src='./js/jquery-migrate.min.js')
  script(type='text/javascript', src='./js/jquery.history.js')
  script(type='text/javascript', src='./js/jquery.tooltip.min.js')
  script(type='text/javascript', src='./js/raphael-min.js')
  script(type='text/javascript', src='./js/Tween.js')
  script(type='text/javascript', src='./js/bubbletree.js')
  script(type='text/javascript' src='./js/cofog.js')
  script(type='text/javascript', src='./js/budget_view.js')
