doctype html
html(lang='en', prefix='og: http://ogp.me/ns#')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    meta(property='fb:app_id', content='912547778846689')

    meta(property='og:title', content='中興學生會2016預算視覺化')
    meta(property='og:url', content='http://budget.sakamoto.com.tw')
    meta(property='og:image', content='http://imgur.com/jtTmlcy.jpg')
    meta(property='og:site_name', content='中興學生會2016預算視覺化')
    meta(property='og:description', content='中興大學學生會2016年度的預算視覺化')

    title 中興學生會2016預算視覺化
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css')
    link(rel='stylesheet', href='./styles/main.css')
    script(type='text/javascript', src='./js/fbSDK.js')
    script(type='text/javascript', src='./js/ga.js')

    block css
    block link
      -var selected = 'index'
    -var menu = { 'index': '預算行星圖', 'budget_out': '歲出決算行星圖', 'budget_table': '科目歲出圖表', 'budget_in': '歲入決算圓餅圖', 'budget_in_table': '科目歲入圖表' }
  body
    #fb-root
    .ui.container
      .ui.secondary.pointing.menu#budgetMenu
        each val, key in menu
          if selected === key
            a.active.item(href=('/'+key+'.html'))= val
          else
            a.item(href=('/'+key+'.html'))= val
        if (selected === 'about')
          a.active.ui.right.item(href=('/about.html')) 關於此網頁
        else
          a.ui.right.item(href=('/about.html')) 關於此網頁
      block content

    script(type='text/javascript', src='./js/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js')
    block js
