.bubbletree-wrapper {
  height: 90%;
  width: 60%;
  .bubbletree-desc {
    font-size: 16px !important;
  }
}
.ui.tab {
  position: relative;
  height: 90%;
}

#budgetTable table {
  thead th, tbody td {
    text-align: right;
    &:first-child {
      text-align: left;
    }
  }
  span {
    &.upper {
      color: green;
    }
    &.lower {
      color: red;
    }
  }
}
.detail-data {
  height: 100%;
  width: 40%;
  position: absolute;
  left: 60%;
  right: 0;

  flex-direction: column;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  .ui.accordion .title {
    color: #3A4750;
  }
}
