* {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}
.bubbletree-wrapper {
  height: 90%;
  width: 50% !important;
}
@media screen and (min-width: 1650px) {
  .bubbletree-wrapper {
    width: 40% !important;
  }
}
@media screen (min-width: 1450px) and (max-width: 1650px) {
  .bubbletree-wrapper {
    width: 45% !important;
  }
}
.detail-data {
  width: 40%;
  position: absolute;
  left: 60%;
  right: 0;
}

#budgetTable table {
  thead th, tbody td {
    text-align: right;
    &:first-child {
      text-align: left;
    }
  }
  span {
    &.upper {
      color: green;
    }
    &.lower {
      color: red;
    }
  }
}
