#aboutWeb table {
  margin-top: 10px;
  width: 100%;
}
#aboutWeb table td {
  text-align: left;
  font-size: 16px;
  padding: 5px;
}
#aboutWeb table td:first-child {
  width: 20%;
  border-right: 5px solid #ddd;
}
#detail {
  font-size: 1.714rem;
}
#detail .content {
  padding-top: 0px;
}
